// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image1 img{
	width: 600px;
	height: 400px;
}
.image2 img{
	width: 300px;
	height: 400px;
}
.image3 img{
	width: 300px;
	height: 800px;
}
.image4 img{
	width: 300px;
	height: 400px;
}
.image5 img{
	width: 600px;
	height: 400px;
}